*{
    margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   }
   body{
    font-family: sans-serif;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background: pink;
    }
    header{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    margin-top: 40px;
    }
    h1{
    color: rgb(0, 238, 255);
    }
    h2{
     color: pink;
     align-items: center;
     margin-top: 400px;
     align-items: center;
    
    }
    ul{
    color:#c1cccb ;
    list-style: none;
    display: flex;
    gap: 30px;
    }
    section{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    margin-top: 80px;
    }
    img{
    width: 300px;
    height: 200px;
    margin-left: 10px;
    margin-bottom: 90px;
    margin-top: 50px;
    margin-bottom: 100px;
    }
    button{
     background-color: aqua;
    }
    ul{
    display: flex;
    }
    p{
     margin-bottom: 50px;
     align-self: flex-start;
    }
   